@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
  background-color: #636e79;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  float: left;
  text-align: center;
  width: 420px;
  height: 600px;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  color: white;
  z-index: 1;
}

.weather-container-top {
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

section {
  font-size: 24px;
}

.weather-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 230px;
  margin-left: 40px;
  width: 100%;
}

.weather-container-bottom p {
  font-size: 64px;
  margin: 0;
  font-weight: bold;
}

.weather-container-bottom span {
  font-size: 32px;
}

.weather-container-info {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 550px;
  border-radius: 0px 30px 30px 0px;
  background-color: #2c2e3f;
  color: white;
  position: relative;
}

.weather-container-info input {
  text-align: center;
  margin-top: 20px;
  width: 400px;
  height: 50px;
  background-color: #0045ad;
  border: none;
  outline: none;
  border-radius: 40px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

input::placeholder {
  color: white;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 400px;
  font-size: 24px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.info-label {
  flex: 1;
}

.info-value {
  flex: 1;
  text-align: right;
}

.daily-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  list-style: none;
  padding: 0;
  gap: 7px;
}

img {
  filter: invert();
}

li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  height: 146px;
  border-radius: 15px;
  background: rgba(27, 27, 27, 0.75);
  font-size: 24px;
}
#day {
  font-weight: bold;
}

input:focus::placeholder {
  color: transparent;
}
